@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-style: normal;    
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;      
}

body, h1, h2, hr, .nav_home, section, footer {
    margin: 0;
    top: 0;
    left: 0;    
}



/* ==========================================     HOME     ============================================ */



.description, .choose_visit, .choose_year, .choose_month{
    padding: 10px 28px;
    margin: 2px 0;  
} 

.taraua_island, .paradise{    
    padding: 2px 0;
    max-width: 2800px;
    width: 100%;   
    margin-bottom: -5px;
}

.nav_home{                                /* The navigation bar, containing all list items */
    background-color: #4871e2;
    padding: 4px 34px;
    max-width: 100%;       
    text-align: center;    
    white-space: nowrap;    
    font-size: 17px;   
}


.nav_home li{                           /* Each list item (except the central title logo) */
    padding: 20px 55px;
    width: 150px;
    max-width: 20%;
    display: inline-block;         
    list-style-type: none;        
}

.nav_home li a{
    text-decoration: none;               
    color:white;
}

header .welcome div{                    /* Central Title Logo */
    display: inline-block;
    background-color: #4871e2;
    color: white;
    position: absolute;
    top: 0;
    left: 544px;
}

.welcome h1{
    font-size: 30px;          
}

.welcome h2{
    font-size: 18px;    
    margin-top: 8px;
}

.reservation{       
    padding: 10px 0;    
    background-color: #285ae4;    
    list-style-type: none;
    color: white;
    text-align: center;
    margin: 2px 0;
}

.reservation li{
    display: inline-block;
    width: 30%;    
}

.best_place{
    background-color: #4871e2;
    color: white;
}

.blue_ideas p span{
    color: white;      
} 

.blue_ideas p span a{
    text-decoration: none;  
    color: white;
} 

.choose_destiny, .destiny{          /* choose_destiny === whole section*/
    background-color: #4871e2;   
    text-align: center; 
    color: white;
    font-size: 17px;   
    width: 100%;  
    display: inline-block;
}

.destiny{                           /* destiny === 1 sentence: "Choose your destiny" */    
    padding: 3px 0;
    font-size: 30px;    
    font-weight: 500; 
}

.destiny_options ul{    
    padding: 0;
    margin: 0px auto;
}

.destiny_options li{
    max-width: 33%;
    display: inline-block;
    background-color: yellowgreen;
    text-align: center;
}

.explore img, .schedule_visit img, .blue_ideas img{
    width:100%;
}

form input{
    color: black;
    text-align: center;
}

footer{
    color: white;    
    font-size: 15px;    
    background-color: #666699;       /* See grey color variations in https://html-color.codes/grey */
    text-align: center;
    padding: -5px 0;
}

footer p{
    padding: 12px;
    margin: -1px auto;
}

form{
    background-color: #efeff5;
}

form div.choose.place, form div.choose.year{
    color: rgb(16, 155, 160);
    background-color: rgba(112, 128, 144, 0.089);    
    font-size: 18px;
    padding: 8px;    
}




/* ================================     GOOGLE MAPS COLORS     ========================================= 
 
   gray-400: #4B5563;    gray-500: #6B7280;    palette1: #00b6ba;    palette2: #16989a;    
   palette3: #f8f9fa;    palette4: #efeff5;    palette5: #deddeb;    palette6: #c3c2d6;    
   palette7: #040037;    palette8: #221e5b;    palette9: #514D7C;  

   ================================     GOOGLE MAPS COLORS     ========================================= */




.slogan{
    background-color: #666699;    
    padding: 20px 0;
    text-align: center;
    margin-bottom: -1px;    
    position: relative;
}

.slogan_left{
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0; 
    width: 30%;
    padding: 10px 5px;
    margin: 20px 15px;    
    /* background-color: red; */           
}

.slogan_right{
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 30%;
    padding: 10px 5px;
    margin: 20px 15px;    
    /* background-color: red; */
}

.slogan_left img, .slogan_right img{
    max-width: 100%;
}

.slogan_kiribati{
    font-size: 65px;
    text-align: center;  
    padding: 12px 0;
    margin-top: 2px;
    color: white;    
}

.slogan_kiribati a{
    text-decoration: none;     
    color: white;   
}

.slogan_kiribati blockquote{
    text-align:center;    
    font-size: 16px;
}

.photo{
    max-width: 100%;    
    display: inline-block;
    border-radius: 8px;    
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 100%;
}



/* ================================     HOSTEL ACCOMODATIONS     ========================================= */



.hostel_pics{
    padding: 2px 0;
    text-align: center;
    margin-bottom: 14px; 
    /* border-radius: 11px; 
    background-color: gainsboro;   
    border: 1px solid yellowgreen; */    
}

.hostel_pics li{
    max-width: 440px;
    display: inline-block;
    margin: 6px 0;
}

.hostel_pics li div{    
    /* padding: 0px 2px; */
    background: #666699;
    display: inline-block;
    margin: 5px;       
    margin-bottom: 16px;
    width: 94%;
    text-align: center;
    height: 100%;
    /* border: 2px solid yellowgreen; */
    border-radius: 8px;
}

.hostel_pics .photo_description{
    color: white;    
    font-size: 20px;
    margin: 14px 0;
    padding-bottom: 2px;
} 

.hostel_promotion{
    display: inline-block;
    background-color: slateblue;
    position: relative;
    width: 100%;
    margin: 2px 0;
}

.hostel_promotion li{
    display: inline-block;
    /* background-color: slateblue; */
    width: 47%;    
}

.schedule_pic{
    max-width: 50%;
} 

.schedule_pic img{
    width: 100%;
}

.description{
    max-width: 42%;
    text-align: justify;
    position: absolute;
    top: 35px;
    left: 691px;
    line-height: 40px;
    font-size: 18px;
    /* border: 2px solid slateblue; */
    border-radius: 8px;
    background-color: slateblue;
    color: white;
} 


.schedule{
    /* background-color: lightgreen; */
    position: relative;
}


.schedule ul{
    display: inline-block;
    text-decoration: none;
    padding: 30px;
}

.schedule_img, .schedule_year, .schedule_month{
    display: inline-block;    
}

.schedule_img{
    max-width: 86%;
}

.schedule_img img{
    width:100%;
}

.schedule_year, .schedule_month{    
    position: absolute;
}

.schedule_month{
    background-color: lightskyblue;    
    top: 0px;
    left: 614px;
}

.schedule_year{
    top: 0px;
    left: 0;
    text-align: center;   
    /* padding: 2px 4px; */
    /* background-color: grey; */    
}

.month, .year, .visit_question{
    display: inline-block;
    margin: 20px 50px;
}

.schedule_visit{
    display: inline-block;
    background-color: yellowgreen;
    text-align: center;
    width: 100%;
}



/* =========================================     FLAGS     ============================================== */



.flags{
    background-color: slateblue;
    text-align: center;
    /* width: 100%; */
}

.flag_list{
    /* width: 100%; */
    margin: 2px 0;
    position: relative;
    padding: 175px 0;
}

.flag_list li{
    max-width:33%;    
    display: inline-block;  
    /* border: 1px solid aliceblue;  */
}

.flag_list_left img{
    width: 95%;
}

.flag_list_right img{
    width: 95%;
}

.flag_list_left, .flag_list_right, .flag_list_center{
    position: absolute;
}

.flag_list_left{
    top: -3px;
    left: 38px;
}

.flag_list_center{
    top: 110px;
    left: 503px;   
    transition: left 1s; 
}

.flag_list_right{
    top: 76px;
    right: 42px;
}

.flag_list_suggestion{
    color: white;
    font-size: 25px;    
    transition: font-size 1s;
}



/* ==========================     FISHING - SURFING - EXPLORING - CONNECTING     =========================== */



.activities{
    padding:0;
    margin:0;    
    background-color: #4871e2; 
}

.list_item{
    display: inline-block;
    /* background-color: #4871e2;     */
    height: 403px;
    padding: 62px 0;
}

.fishing, .surfing, .exploring, .connecting{
    position: relative;
}

.fishing_left, .fishing_right, .surfing_left, .surfing_right, 
.exploring_left, .exploring_right, .connecting_left, .connecting_right{    
    text-align: center;
    display: inline-block;
    border: 2px solid white;  
    border-radius: 4px;  
}

.fishing_left, .surfing_left, .exploring_left, .connecting_left{
    position: relative;    
    left: 21px;
    width: 40%;
}

.fishing_left, .surfing_left{
    top: 9px;
}

.exploring_left{
    top: 7px;
}

.connecting_left{
    top: 3px;
}

.fishing_left_img, .surfing_left_img, .exploring_left_img, .connecting_left_img{
    width: 100%;
}

.fishing_left_p, .surfing_left_p, .exploring_left_p, .connecting_left_p{
    font-size: 20px;
    /* color: white;
    background-color: #666699; */
    margin: 0;
    padding: 20px 0;
    background-color: greenyellow;
    color: black;
}

.fishing_right, .surfing_right, .exploring_right, .connecting_right{
    position: relative;
    width: 50%;
    left: 70px;
    height: 433px;
    text-align: justify;
    padding: 0px 10px;
    color: white;
    background-color:#666699;
    transition: background-color 1s;
}

.fishing_right{        
    padding: 0px 16px;
    top: -14px;    
    line-height: 51px;
}

.surfing_right{          
    top: -66px;
    line-height: 51px;
}

.exploring_right{     
    top: -19px;
    line-height: 40px;
}

.connecting_right{        
    top: -24px;
    line-height: 31px;
    height: 346px;    
}



/* ========================================    ABOUT US   =========================================== */



.about_us{
    width: 100%;
    background-color: lightblue;        
    text-align: center;
    height: 378px;
    margin-top: 1px;
}

.about_us_paragraph{
    text-align: left;
    padding: 3px 10px;
    position: absolute;
    top: 107px;
    left: 863px;
    color: white;
    background-color: slateblue;
    font-size: 23px;
    border: solid #666699 1px;
    border-radius: 20px;
    z-index: 1;
    transition: left 1s, top 1s, border 0.075s;    
}

.maps{
    display: inline-block;
    padding: 2px;
    text-align: center;
}

.about_us_map1, .about_us_map2{
    display: inline-block;    
    background-color: orange;
    position: relative;
    border: 1px solid lightsteelblue;
    transition: border 0.2s;
}

.about_us_map1{
    /* width: 30%; */
    max-width: 406px;
    top: 4px;
    right: 2px;        
}

.about_us_map2{
    /* width: 69%; */
    max-width: 932px;
    top: 4px;
    right: -1px;    
}

.goodbye{
    margin: 0;
    /* padding: 10px; */
    background-color: #666699;
}

.goodbye_people{
    text-align: center;
    background-color: #4871e2;
    padding: 20px 0;
}

.goodbye_paragraph{
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
}

.goodbye_paragraph_2{
    font-size: 44px;    
    color: white;
    margin-top: 20px;    
}

.goodbye_pics{
    display: inline-block;
    text-align: center;
}

.turtle{
    width: 30%;
    /* background-color: orange; */
    padding-right: 58px;
    padding-bottom: 30px;
    transition: width 0.25s;
}

.people{
    width: 51%;
    /* background-color: greenyellow; */
    padding-left: 23px;
    transition: width 0.25s;
}

.goodbye_message{
    background-color: #4871e2;
    color: white;
    font-size: 20px;
    padding: 40px;
    text-align: center;
    border-top: 1px solid lightsteelblue;
}



/* =====================================     HOVER     ========================================= */

.nav_home li a:hover{
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 4px 12px;
}


.fishing_right:hover, .surfing_right:hover, .exploring_right:hover, .connecting_right:hover{
    background-color: greenyellow;
    color: black;
}

.fishing_left_p:hover, .surfing_left_p:hover, .exploring_left_p:hover, .connecting_left_p:hover{
    background-color: slateblue;
    color: white;
}

.hostel_pics li div:hover{
    /* background-color: firebrick;         Cool color!         */
    background-color: yellowgreen;
}

.destiny_options li:hover, .schedule_visit:hover{
    color: black;    
    background-color: greenyellow;
}

.blue_ideas p span:hover, .blue_ideas p span a:hover{
    color:blue;
}

.flag_list_suggestion:hover{
    font-size: 28px;    
}

.flag_list_center:hover{
    left: 483px;
    top: 110px;    
}

.about_us_paragraph:hover{
    color: black;
    background-color: greenyellow;    
    border: solid greenyellow 8px;    
    left: 935px;
    top: 108px;
}

.about_us_map1:hover, .about_us_map2:hover{
    border: 1px solid #666699;
}

.turtle:hover{
    width: 31%;
}

.people:hover{
    width: 52%;
}

.click_here:hover{
    color:black;
    background-color: white;
    border-radius: 20px;
}



/* ======================================    MEDIA QUERIES   ========================================= */


/* @media screen and (max-width:1366px){
    
} */

@media screen and (max-width:1080px){
    
    header .welcome div{                 
        top: 4px;
        left: 437px;
    }
    .nav_home li{                 
        padding: 20px 28px;
        width: 148px;               
    }
    .welcome h1 {
        font-size: 29px;
    }
    .welcome h2 {
        font-size: 15px;
        margin-top: 8px;
    }
}

@media screen and (max-width:810px){

    header .welcome div {
        top: 12px;
        left: 320px;
    }

    .nav_home {
        font-size: 14px;
        padding: 4px 6px;
    }

    .nav_home li {
        padding: 20px 0px;
        width: 160px;
    }

    .welcome h1 {
        font-size: 20px;
    }

    .welcome h2 {
        font-size: 12.5px;        
    }
    
    .reservation {
        font-size: 14px;
    }

    .destiny {
        font-size: 22px;        
    }

    .destiny_options li {
        max-width: 261px;   /* max-width: 31%;  */        
    }

    .slogan_kiribati {
        font-size: 41px;
    }

    .slogan_kiribati blockquote {        
        font-size: 12px;
    }

    footer {
        font-size: 13px;
    }
    
    .hostel_promotion li {      
        width: 37%;
    }

    .description {
        max-width: 61%;
        top: 0px;
        left: 328px;
        line-height: 27px;
        font-size: 13px;
    }

    .schedule_visit {        
        font-size: 17px;
    }
    
    .hostel_pics li {
        max-width: 382px;
    }    

    .hostel_pics .photo_description {
        font-size: 17px;        
    }

    .flag_list {        
        padding: 96px 0;
    }

    .flag_list li {
        max-width:30%; 
    }

    .flag_list_left {
        top: 3px;
        left: 17px;
    }

    .flag_list_center {
        top: 41px;
        left: 280px;
    }

    .flag_list_center:hover{
        pointer-events: none;          /* this disables the hover effect */
    }

    .flag_list_suggestion {
        font-size: 20px;
    }

    .flag_list_right {
        top: 45px;
        right: 26px;
    }

    .list_item {
        height: 837px;
        padding: 45px 0;
    }

    .fishing_left {
        top: 23px;
    }

    .fishing_left, .surfing_left, .exploring_left, .connecting_left {
        left: 31px;
        width: 92%;
    }

    .fishing_left_p, .surfing_left_p, .exploring_left_p, .connecting_left_p {
        font-size: 18px;        
        padding: 12px 0;       
    }

    .fishing_right {
        padding: 0px 16px;
        top: 15px;        
    }

    .fishing_right, .surfing_right, .exploring_right, .connecting_right {
        width: 88%;
        height: 316px;
        font-size: 14px;
        line-height: 41px;
        left: 31px;
    }

    .surfing_left {
        top: 42px;
    }

    .surfing_right, .exploring_right, .connecting_right {
        width: 725px;
    }

    .surfing_right{
        height: 233px;
        top: 38px;        
    }

    .exploring_left {
        top: -12px;
    }

    .exploring_right {
        top: -18px;
        height: 357px;
    }

    .connecting_left {
        top: 45px;
    }

    .connecting_right {
        top: 38px;
        height: 357px;
        padding-top: 2px;
    }

    .about_us {
        height: 1040px;
    }

    .about_us_map1 {
        width: 1223px;
        max-width: 802px;        
        top: 316px;
        right: 1px;
    }

    .about_us_map2 {        
        width: 803px; 
        max-width: 932px;
        top: -723px;
        right: 1px; 
    }

    .about_us_paragraph {
        top: 112px;
        left: 430px;    
        font-size: 15px;
        pointer-events: none;
    }

    .goodbye_paragraph {
        font-size: 19px;    
        margin-bottom: -9px;
    }

    .goodbye_paragraph_2 {
        font-size: 23px;
    }

    .turtle {
        padding-right: 17px;
        padding-bottom: 22px;
        pointer-events: none;
        width: 35%;
    }

    .people {
        width: 58%;
        padding-left: 8px;
        pointer-events: none;
    }

    .goodbye_message {
        font-size: 19px;
    }

    #message {
        width: 95%;
    }
}

@media screen and (max-width: 412px){

    .nav_home {
        font-size: 13.5px;                
        padding: 5px 10px;
    }

    .nav_home li {
        display: inline;
        padding: 20px 12px;
    }

    header .welcome div {
        top: 50px;
        left: 6px;
        background: #0000;        /* adds transparency to text background color */
    }

    .welcome h1 {
        font-size: 17px;
    }

    .welcome h2 {
        font-size: 11px;
    }

    .reservation {
        font-size: 12px;
        padding: 10px 0px;
    }

    .reservation li {
        display: inline-block;
        width: 49%;        
        padding-right: 2px;
    }

    #email, #login, #password {
        font-size: 11px;
    }

    .destiny {
        display: none;                /* conceals the "Choose your destiny" sentence */
        /* font-size: 20px; */                
    }

    .destiny_options li {
        max-width: 100%;        
    }

    .choose_destiny, .schedule_visit {
        font-size: 15px;
    }

    .slogan {        
        padding: 0;
        padding-top: 110px;   
    }

    .slogan_left {
        top: -15px;
        left: -19px;
        width: 50%;
        /* rotate: -10deg; */         /* rotates the picture in a given angle */
    }

    .slogan_kiribati {
        font-size: 26px;             
    }

    .slogan_right {
        top: -15px;
        right: -15px;
        width: 50%;
        /* rotate: -10deg; */
    }

    .schedule_pic {
        max-width: 100%;
    }

    .hostel_promotion {
        padding: 0 0px 176px 0;
    }

    .hostel_promotion ul{
        padding: 0;
        text-align: center;
    }

    .hostel_promotion li {
        width: 90%;
    }

    .description {
        max-width: 95%;
        top: 200px;
        left: -6px;
        /* font-weight: bold; */
    }

    .flag_list {
        padding: 133px 0;
    }

    .flag_list li {
        max-width: 48%;
        background-color: slateblue;
    }

    .flag_list_left {
        top: 8px;
        left: -11px;
    }

    .flag_list_center {
        top: 164px;
        left: 114px;
    }

    .flag_list_suggestion {
        font-size: 17px;
        line-height: 15px;
        pointer-events: none; 
    }

    .fishing_left {
        width: 93%;  
        left: 14px; 
        top: -10px;
    }

    .surfing_left, .exploring_left, .connecting_left {
        left: 15px;        
        width: 92%;    
    }

    .surfing_left {
        top: -193px;
    }

    .exploring_left {
        top: -451px;
    }

    .connecting_left {
        top: -583px;
    }   

    .fishing_left_p, .surfing_left_p, .exploring_left_p, .connecting_left_p {
        font-size: 16px;
        /* padding: 12px 0; */
    }

    .fishing_right, .surfing_right, .exploring_right, .connecting_right {
        width: 351px;
        height: 365px;
        font-size: 13px;
        line-height: 26px;
        left: 14px;
        top: -16px;
    }    

    .surfing_right, .exploring_right, .connecting_right {
        width: 359px;        
        left: 15px;        
    }

    .surfing_right {
        height: 292px;
        top: -199px;
    }    

    .exploring_right {
        height: 422px;
        top: -457px;
    }

    .connecting_right {
        height: 441px;
        top: -590px;
    }

/* como resolver a questão do list_item (espaço vazio na página "Visit Kiribati") ? */

    .about_us {
        height: 688px;
    }

    .about_us_paragraph {
        pointer-events: none;
    }

    .about_us_map1 {
        max-width: 411px;
        right: 199px;
    }

    .about_us_map2 {
        top: -374px;        
    }

    .goodbye_paragraph {
        font-size: 17px;
    }

    .goodbye_paragraph_2 {
        font-size: 20px;
    }

    .turtle {
        padding-right: 2px;        
        width: 78%;
    }

    .people {
        width: 93%;
        padding-left: 2px;
    }

    .goodbye_message {
        font-size: 17px;
        padding-top: 40px;
    }

}